<table class="primary">
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each friend in model}}
			<tr>
				<td>
					{{#link-to 'friends.show' friend}}
						{{friend.firstName}} {{friend.lastName}}
					{{/link-to}}
				</td>
				<td><a href="#" {{action "delete" friend}}>Delete</a></td>
			</tr>
		{{/each}}
	</tbody>
</table>

